<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<section id="fragment-pasados" class="tab-content-fragment" th:fragment="historial-boletos">
    <div class="history-grid">

        <!-- Evento Pasado 1 -->
        <article class="history-card-item">
            <div class="history-card-header">
                <span class="badge-status-pill badge-gray">ASISTIDO</span>
                <small class="ticket-order-ref">15 FEB 2025</small>
            </div>
            <div class="history-card-body">
                <h3 class="history-event-title">Noche Indie: Neon Waves Fest</h3>
                <p class="ticket-item-venue">Desierto Bar · Cd. Obregón</p>
                <span class="ticket-order-ref">Orden #KT-88102-MX</span>
            </div>
            <div class="history-card-footer">
                <span class="ticket-item-price">$220 MXN</span>
                <button class="btn-select-ticket">Ver Recibo</button>
            </div>
        </article>

        <!-- Evento Pasado 2 -->
        <article class="history-card-item">
            <div class="history-card-header">
                <span class="badge-status-pill badge-gray">ASISTIDO</span>
                <small class="ticket-order-ref">20 DIC 2024</small>
            </div>
            <div class="history-card-body">
                <h3 class="history-event-title">Techno Underground: Dark Beats</h3>
                <p class="ticket-item-venue">Arena Metropolitana · Cd. Obregón</p>
                <span class="ticket-order-ref">Orden #KT-77319-MX</span>
            </div>
            <div class="history-card-footer">
                <span class="ticket-item-price">$380 MXN</span>
                <button class="btn-select-ticket">Ver Recibo</button>
            </div>
        </article>

        <!-- Evento Pasado 3 -->
        <article class="history-card-item">
            <div class="history-card-header">
                <span class="badge-status-pill badge-gray">ASISTIDO</span>
                <small class="ticket-order-ref">05 NOV 2024</small>
            </div>
            <div class="history-card-body">
                <h3 class="history-event-title">Noche Acústica & Jazz Latino</h3>
                <p class="ticket-item-venue">Teatro de la Ciudad · Cd. Obregón</p>
                <span class="ticket-order-ref">Orden #KT-66104-MX</span>
            </div>
            <div class="history-card-footer">
                <span class="ticket-item-price">$190 MXN</span>
                <button class="btn-select-ticket">Ver Recibo</button>
            </div>
        </article>

    </div>
</section>

</body>
</html>